absl-py==1.4.0
accelerate==0.18.0
aiohttp==3.8.4
aiosignal==1.3.1
appdirs
asttokens
async-timeout==4.0.2
attrs==23.1.0
audiomentations==0.30.0
audioread
backcall
backports.functools-lru-cache
brotlipy
certifi==2023.5.7
cffi
charset-normalizer
click==8.1.3
comm
contourpy
cryptography
cycler
datasets==2.12.0
debugpy
decorator
dill==0.3.6
docopt==0.6.2
evaluate==0.4.0
executing
filelock==3.12.0
fonttools
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
huggingface-hub==0.14.1
idna
imbalanced-learn==0.10.1
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
librosa==0.9.2
lightgbm==3.3.5
llvmlite==0.39.1
matplotlib
matplotlib-inline
mlxtend==0.22.0
msgpack
multidict==6.0.4
multiprocess==0.70.14
munkres==1.1.4
nest-asyncio
nltk==3.8.1
numba
numpy
packaging
pandas
parso
patsy
pexpect
pickleshare
Pillow
pipreqs==0.4.13
platformdirs
pooch
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow==12.0.0
pycparser
Pygments
pyloudnorm==0.1.1
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytorch-tabnet==4.0
pytz
PyYAML==6.0
pyzmq
regex==2023.5.4
requests
resampy==0.4.2
responses==0.18.0
sacremoses==0.0.53
scikit-learn
scipy
seaborn
six
soundfile
soxr
stack-data
statsmodels
threadpoolctl
tokenizers==0.13.3
torch==1.12.1.post201
torchaudio==0.12.1
torchvision==0.13.1
tornado
tqdm==4.65.0
traitlets
transformers==4.28.0
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
xgboost==1.7.5
xxhash==3.2.0
yarg==0.1.9
yarl==1.9.2
zipp
